<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.jhc.web.admin.mapper.prod.ProdColorMapper">

	<select id="getProdColors" resultType="com.ezen.jhc.web.admin.dto.prod.ProdColorDTO">
		SELECT * FROM prod_colors WHERE p_num = #{p_num}
	</select>
	
	<update id="modifyColor">
		UPDATE
			prod_colors
		SET
			pc_name = #{pc_name},
			pc_code = #{pc_code},
			pc_img_path = #{pc_img_path},
			pc_img_uploadpath = #{pc_img_uploadpath},
			pc_img_uuid = #{pc_img_filename},
			pc_origin_img_path = #{pc_thumb_img_path},
			pc_lg_img_path = #{pc_lg_img_path},
			pc_md_img_path = #{pc_md_img_path},
			pc_sm_img_path = #{pc_sm_img_path}
		WHERE
			pc_num = #{pc_num}
	</update>

</mapper>